# Credenciais do Cloudinary
# Obtenha em https://cloudinary.com (gratuito)
CLOUDINARY_CLOUD_NAME=dstz2gnif
CLOUDINARY_API_KEY=645755467753596
CLOUDINARY_API_SECRET=wE-slEk2BoFPzz0OPnN2bO-zmkA

# Senha do painel admin
ADMIN_PASSWORD=bianca2026

# Porta do servidor
PORT=3000
